@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* ====================================================
reset style
==================================================== */
html {
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 10px; /* Base font size, change to 14px or 16px if needed */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

address, caption, cite, code, dfn, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*to enable resizing for IE*/
input, textarea, select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

del, ins {
  text-decoration: none;
}

main {
  display: block;
}

section {
  position: relative;
}

:root {
  --oc-link-color: #0d6efd;
  --oc-primary-color: #233b68;
  --oc-btn-primary-color: #233b68;
  --oc-btn-alt-color: #233b68;
  --oc-blog-heading-mt: 1.9rem;
  --oc-blog-heading-mb: 1.625rem;
  --oc-blog-heading-pt: 1.625rem;
  --oc-blog-font-size: calc(1rem + .069vw);
  --oc-blog-heading1-fs: calc(1.6rem + .069vw);
  --oc-blog-heading2-fs: calc(1.5rem + .069vw);
  --oc-blog-heading3-fs: calc(1.35rem + .069vw);
  --oc-blog-line-height: 1.625rem;
  --oc-text-primary: #333;
}

body {
  font-size: 16px;
  line-height: 1.8;
  font-family: YuGothic, "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.text-primary-color {
  color: var(--oc-text-primary);
}

.clear-fix {
  clear: both;
}

a {
  text-decoration: none;
  color: var(--oc-link-color);
}

a:hover {
  text-decoration: none;
}

.bg-image {
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-bg-top {
  z-index: 0;
  height: 200px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-bg-top .caption h1,
.text-bg-top .caption h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.content-none {
  text-align: center;
  font-size: 20px;
  padding: 80px 10px;
}

.content-none .error-number {
  font-size: 70px;
}

.content-none .content-none-btn {
  margin: 20px auto;
  text-align: center;
}

/* OC Button Style */
.site-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 375px;
  height: 73px;
  max-width: 90%;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.site-btn {
  color: var(--oc-primary-color);
  border-color: var(--oc-primary-color);
}

/* END - OC Button Style */
/* OC Modal Style */
.modal-design {
  height: 80vh;
  overflow: scroll;
  margin: 15% 0 10% 0;
  border-radius: unset;
}

.modal-dialog {
  max-width: 800px;
  padding: 1rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}
.close-btn {
  position: fixed;
  right: 0x;
  top: 25px;
}

.modal-side-margin {
  margin: 0;
}

.modal-body-design {
  padding: 0;
}

.round_btn {
  display: block;
  width: 45px;
  height: 45px;
  border: 2px solid #AA8400; /* 枠の調整 */
  border-radius: 50%; /* 丸みの度合い */
  background: #fff; /* ボタンの背景色 */
}

.round_btn::before, .round_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px; /* 棒の幅（太さ） */
  height: 22px; /* 棒の高さ */
  background: #AA8400; /* バツ印の色 */
}

.round_btn::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.round_btn::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

/* END - OC Modal Style */
/* ====================================================
Media Quary
==================================================== */
.mb0 {
  margin-bottom: 0 !important;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 999;
  padding: 40px 0;
}
@media screen and (max-width: 1024px) {
  #header {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 16px 0;
  }
}
#header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
#header .header-logo {
  display: block;
  width: 231px;
  position: relative;
  z-index: 999;
}
@media only screen and (min-width: 1025px) and (max-width: 1230px) {
  #header .header-logo {
    width: 150px;
  }
}
@media screen and (max-width: 768px) {
  #header .header-logo {
    width: 115px;
  }
}
#header .header-mail {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
  background: #242422;
  border-radius: 3px;
  color: white;
  padding: 8px 17px;
}
@media screen and (max-width: 1024px) {
  #header .header-mail {
    font-size: 15px;
    color: #242422;
    background: none;
    position: absolute;
    right: 61px;
    padding: 0 18px 0 18px;
    border-right: 1px solid #E1E1E1;
  }
  #header .header-mail:before {
    content: "";
    width: 15px;
    height: 11px;
    background: url("../img/common/mail.png") no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media screen and (min-width: 1025px) {
  #header .header-nav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    opacity: 1 !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 145px;
  }
}
@media screen and (max-width: 1024px) {
  #header .header-nav {
    display: block;
    position: fixed;
    top: 54px;
    right: -89%;
    width: 89%;
    height: calc(100vh - 54px);
    padding: 10px 20px 0;
    overflow-y: scroll;
    background: white;
    -webkit-box-shadow: 0 16px 23px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 16px 23px 0 rgba(0, 0, 0, 0.2);
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #header .header-nav.active {
    right: 0;
  }
}
#header .header-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
}
@media screen and (max-width: 1024px) {
  #header .header-nav__menu {
    display: block;
  }
}
#header .header-nav__menu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 19px;
}
@media only screen and (min-width: 1025px) and (max-width: 1230px) {
  #header .header-nav__menu > li {
    padding: 0 14px;
  }
}
@media screen and (max-width: 1024px) {
  #header .header-nav__menu > li {
    display: block;
    padding: 0;
    border-bottom: 1px solid #EEEEEE;
  }
}
#header .header-nav__menu > li:last-child {
  padding-right: 0;
}
#header .header-nav__menu > li > a {
  display: block;
  color: #242422;
  padding: 8px 0;
}
@media screen and (max-width: 1024px) {
  #header .header-nav__menu > li > a {
    padding: 15px 0;
  }
}
@media screen and (min-width: 1025px) {
  #header .header-nav__menu > li:hover .header-nav__menu-sub {
    display: block;
  }
}
#header .header-nav__menu-arrow {
  display: block;
  width: 13px;
  height: 13px;
  background: url("../img/common/arrow-dow.png") no-repeat;
  background-size: 100%;
  margin: 0 0 0 7px;
}
@media screen and (max-width: 1024px) {
  #header .header-nav__menu-arrow {
    position: absolute;
    top: 13px;
    right: -10px;
    width: 50px;
    height: 41px;
    bottom: 0;
    background-size: 13px;
    background-position: center;
  }
  #header .header-nav__menu-arrow.active {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
#header .header-nav__menu-sub {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 250px;
  background: white;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1024px) {
  #header .header-nav__menu-sub {
    position: static;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    padding: 0 0 15px 25px;
  }
}
#header .header-nav__menu-sub li {
  margin-bottom: 7px;
}
@media screen and (max-width: 1024px) {
  #header .header-nav__menu-sub li {
    margin-bottom: 15px;
  }
}
#header .header-nav__menu-sub li:last-child {
  margin-bottom: 0;
}
#header .js-mobile {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 12;
  display: none;
}
@media screen and (max-width: 1024px) {
  #header .js-mobile {
    display: block;
  }
}
#header .js-mobile span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 2px;
  background: #333;
  border-radius: 3px;
}
#header .js-mobile span:before, #header .js-mobile span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  content: "";
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  border-radius: 3px;
}
#header .js-mobile span:before {
  -webkit-transform: translateY(-250%);
  -ms-transform: translateY(-250%);
      transform: translateY(-250%);
  top: -2px;
}
#header .js-mobile span:after {
  -webkit-transform: translateY(250%);
  -ms-transform: translateY(250%);
      transform: translateY(250%);
  bottom: -2px;
}
#header .js-mobile--close span {
  background-color: transparent;
}
#header .js-mobile--close span:before, #header .js-mobile--close span:after {
  width: 100%;
  background: #333;
}
#header .js-mobile--close span:before {
  -webkit-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg);
  top: 2px;
}
#header .js-mobile--close span:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg);
  bottom: -2px;
}

.js-locked {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}
.js-locked body {
  -webkit-overflow-scrolling: auto;
}

#footer {
  padding: 111px 0 0;
}
@media screen and (max-width: 768px) {
  #footer {
    padding: 47px 0 0;
  }
}
#footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 150px;
}
@media screen and (max-width: 768px) {
  #footer .footer-menu {
    margin-bottom: 85px;
  }
}
#footer .footer-menu__item {
  width: 25%;
}
@media screen and (max-width: 768px) {
  #footer .footer-menu__item {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  #footer .footer-menu__item {
    width: 100%;
  }
}
#footer .footer-menu__item:nth-child(1) {
  border-top: 1px solid #242422;
}
#footer .footer-menu__ttl {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  #footer .footer-menu__ttl {
    position: relative;
    border-bottom: 1px solid #242422;
    padding: 21px 0;
    margin-bottom: 0;
  }
  #footer .footer-menu__ttl:after {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    background: url("../img/common/arrow-dow.png") no-repeat;
    background-size: 100%;
    margin: 0 0 0 7px;
    position: absolute;
    top: 30px;
    right: 6px;
  }
  #footer .footer-menu__ttl.active {
    border-bottom: none;
  }
  #footer .footer-menu__ttl.active:after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@media screen and (max-width: 768px) {
  #footer .footer-menu ul {
    display: none;
    padding: 23px 0 0 9px;
    margin-bottom: 45px;
  }
}
#footer .footer-menu ul li {
  margin-bottom: 23px;
}
#footer .footer-menu ul li:last-child {
  margin-bottom: 0;
}
#footer .footer-note {
  background: #EDF0F2;
  font-size: 17px;
  line-height: 1.5;
  padding: 50px 0;
}
@media screen and (max-width: 768px) {
  #footer .footer-note {
    padding: 43px 0;
  }
}
#footer .footer-note__ttl {
  display: block;
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 33px;
}
@media screen and (max-width: 768px) {
  #footer .footer-note__ttl {
    font-size: 20px;
    position: relative;
    margin-bottom: 53px;
  }
}
#footer .footer-note p {
  margin-bottom: 29px;
}
#footer .footer-note p:last-child {
  margin-bottom: 0;
}
#footer .footer-note .copyright {
  font-size: 12px;
  font-weight: 500;
  margin-top: 61px;
  padding: 0 15px;
}
@media screen and (max-width: 768px) {
  #footer .footer-note .copyright {
    margin-top: 45px;
  }
}
#footer .footer-note .copyright span {
  display: inline-block;
  background: #DEE2E9;
  border-radius: 20px;
  padding: 11px 21px;
  letter-spacing: 0.6px;
}
@media screen and (max-width: 768px) {
  #footer .footer-note .copyright span {
    padding: 11px 30px;
    border-radius: 50px;
  }
}
@media screen and (max-width: 640px) {
  #footer .footer-note .copyright span {
    display: block;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  overflow-x: hidden;
  color: #242422;
  line-height: 1.4;
}

a {
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .pc-ipd {
    display: none !important;
  }
}
@media screen and (max-width: 990px) {
  .pc-lg {
    display: none !important;
  }
}
@media screen and (max-width: 640px) {
  .pc-sm {
    display: none !important;
  }
}
@media screen and (max-width: 374px) {
  .pc-xs {
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
  .sp {
    display: none !important;
  }
}
@media screen and (min-width: 1025px) {
  .sp-ipd {
    display: none !important;
  }
}
@media screen and (min-width: 991px) {
  .sp-lg {
    display: none !important;
  }
}
@media screen and (min-width: 641px) {
  .sp-sm {
    display: none !important;
  }
}

.main-octhem section {
  border-bottom: 1px solid #EEEEEE;
}

.inner {
  width: 100%;
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
}

.c-al--c {
  text-align: center !important;
}

.link {
  display: inline-block;
  position: relative;
  color: #242422;
  padding: 0 0 0 20px;
  font-size: 17px;
  font-weight: 400;
}
.link:before {
  content: "";
  width: 13px;
  height: 13px;
  background: url("../img/common/arrow-right.png") no-repeat;
  background-size: 100%;
  position: absolute;
  top: 6px;
  left: 0;
}
.link--02 {
  padding: 0 0 0 39px;
}
.link--02:before {
  width: 30px;
  height: 30px;
  background: url("../img/common/arrow-right-02.png") no-repeat;
  background-size: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.link .note {
  display: inline-block;
  color: #0B5394;
  font-size: 12px;
  background: rgba(11, 83, 148, 0.2);
  padding: 1px 7px;
  border-radius: 3px;
  font-weight: 500;
  margin: 0 13px 0 0;
  position: relative;
  top: -1px;
}
.link-other {
  display: block;
  position: relative;
  color: #242422;
  padding-left: 21px !important;
}
.link-other:before {
  content: "";
  width: 15px;
  height: 15px;
  background: url("../img/common/link.png") no-repeat;
  background-size: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

.c-ttl__01 {
  display: block;
  line-height: 1.4;
  font-size: 27px;
  font-weight: 500;
  position: relative;
  letter-spacing: 1.3px;
  padding: 0 0 33px;
  margin-bottom: 73px;
}
@media screen and (max-width: 768px) {
  .c-ttl__01 {
    font-size: 25px;
    padding: 0 0 38px;
    margin-bottom: 52px;
  }
}
.c-ttl__01 small {
  display: block;
  font-size: 17px;
  padding: 21px 0 0;
  letter-spacing: 0.8px;
}
.c-ttl__01 .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-ttl__01 .flex .link--02 {
  margin-left: 26px;
}
.c-ttl__01:after {
  content: "";
  width: 16px;
  height: 4px;
  background: #0B5394;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 768px) {
  .c-ttl__01:after {
    width: 19px;
  }
}
.c-ttl__01.c-al--c:after {
  right: 0;
  margin: 0 auto;
}
.c-ttl__02 {
  display: block;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .c-ttl__02 {
    display: block;
    text-align: center;
    margin-bottom: 18px;
  }
}

.c-btn__01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  font-size: 17px;
  line-height: 1.2;
  color: #0B5394;
  border: 1px solid #EEEEEE;
  border-radius: 50px;
  max-width: 255px;
  height: 54px;
}
@media screen and (max-width: 768px) {
  .c-btn__01 {
    max-width: 100%;
  }
}
.c-btn__02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F5FAFE;
  font-size: 17px;
  line-height: 1.2;
  color: #0B5394;
  border: 1px solid #EEEEEE;
  border-radius: 3px;
  max-width: 255px;
  height: 54px;
}
@media screen and (max-width: 768px) {
  .c-btn__02 {
    max-width: 100%;
  }
}

main {
  display: block;
  position: relative;
  padding: 120px 0 0;
}
@media screen and (max-width: 1024px) {
  main {
    padding-top: 54px;
  }
}

.mv-block img {
  width: 100%;
  min-height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
}
@media screen and (max-width: 768px) {
  .mv-block img {
    min-height: 300px;
  }
}

.mv-heading {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 69px;
  max-width: 742px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .mv-heading {
    bottom: 36px;
  }
}
.mv-heading img {
  width: 100%;
}
.mv-heading__note {
  display: block;
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-align: center;
  background: #0B5394;
  position: absolute;
  bottom: -14px;
  left: 0;
  right: 0;
  padding: 7px;
}
@media screen and (max-width: 768px) {
  .mv-heading__note {
    bottom: auto;
    top: 99%;
    left: -15px;
    right: -15px;
  }
}

.sec-area {
  padding: 80px 0;
}
@media screen and (max-width: 768px) {
  .sec-area {
    padding: 40px 0;
  }
}

.area-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.area-list__item {
  width: 33.333%;
  padding: 0 15px;
}
@media screen and (max-width: 768px) {
  .area-list__item {
    width: 100%;
    margin-bottom: 20px;
  }
  .area-list__item:last-child {
    margin-bottom: 0;
  }
}

.sec-solution {
  padding: 75px 0 26px;
}
@media screen and (max-width: 768px) {
  .sec-solution {
    padding: 31px 0 26px;
  }
}

.solution-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.solution-list__item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 74px;
}
@media screen and (max-width: 768px) {
  .solution-list__item {
    width: 50%;
  }
}
@media screen and (max-width: 640px) {
  .solution-list__item {
    width: 100%;
    margin-bottom: 81px;
  }
  .solution-list__item:last-child {
    margin-bottom: 0;
  }
}
.solution-list__img {
  margin-bottom: 31px;
}
@media screen and (max-width: 768px) {
  .solution-list__img {
    margin-bottom: 22px;
  }
}
.solution-list__img img {
  height: 80px;
}
@media screen and (max-width: 768px) {
  .solution-list__img img {
    display: block;
    margin: 0 auto;
    height: 59px;
  }
}
.solution-list__ct {
  font-size: 17px;
}
@media screen and (max-width: 768px) {
  .solution-list__ct {
    padding: 0 10px;
  }
}
.solution-list__ct-ttl {
  display: block;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 21px;
}
@media screen and (max-width: 768px) {
  .solution-list__ct-ttl {
    text-align: center;
  }
}
.solution-list__ct ul li {
  margin-bottom: 22px;
}
.solution-list__ct ul li:last-child {
  margin-bottom: 0;
}

.sec-menu {
  padding: 75px 0 17px;
}
@media screen and (min-width: 769px) {
  .sec-menu .c-ttl__01 {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .sec-menu {
    padding: 75px 0 79px;
  }
  .sec-menu .c-ttl__01 {
    margin-bottom: 28px;
  }
  .sec-menu .link--02 {
    margin-bottom: 28px;
  }
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -30px 73px;
}
@media screen and (max-width: 768px) {
  .menu-list {
    margin-bottom: 93px;
  }
  .menu-list:last-child {
    margin-bottom: 0;
  }
}
.menu-list li {
  width: 25%;
  padding: 0 30px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .menu-list li {
    width: 50%;
  }
}
@media screen and (max-width: 640px) {
  .menu-list li {
    width: 100%;
    margin-bottom: 15px;
  }
  .menu-list li:last-child {
    margin-bottom: 0;
  }
}

.sec-customer {
  padding: 80px 0 34px;
}
@media screen and (min-width: 769px) {
  .sec-customer .c-ttl__01 {
    margin-bottom: 38px;
  }
}
@media screen and (max-width: 768px) {
  .sec-customer {
    padding: 64px 0 62px;
  }
  .sec-customer .c-ttl__01 {
    padding: 0 0 30px;
    margin-bottom: 29px;
  }
}

.customer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -3.3%;
}
@media screen and (max-width: 768px) {
  .customer-list.js-customer-list {
    display: block;
    margin: 0 -10px;
  }
  .customer-list.js-customer-list .slick-list {
    padding: 0 5% 0 0 !important;
  }
  .customer-list.js-customer-list .customer-list__item {
    width: auto;
    padding: 20px 10px;
    margin-bottom: 0;
  }
}
.customer-list__item {
  width: 33.333%;
  padding: 0 3.3%;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .customer-list__item {
    width: 100%;
    margin-bottom: 34px;
  }
  .customer-list__item:last-child {
    margin-bottom: 0;
  }
}
.customer-list__item a {
  display: block;
  color: #242422;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 4px 4px 14px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 14px 0 rgba(0, 0, 0, 0.1);
  height: 100%;
}
.customer-list__img img {
  width: 100%;
}
.customer-list__ct {
  font-size: 17px;
  padding: 21px 20px 30px;
  line-height: 1.5;
}
.customer-list__ct-ttl {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
.customer-list__ct p {
  margin-bottom: 25px;
}
.customer-list__ct p:last-child {
  margin-bottom: 0;
}

.sec-secret {
  padding: 91px 0 158px;
}
@media screen and (min-width: 769px) {
  .sec-secret .c-ttl__01 {
    margin-bottom: 44px;
  }
}
@media screen and (max-width: 768px) {
  .sec-secret {
    padding: 64px 0 63px;
  }
  .sec-secret .c-ttl__01 {
    margin-bottom: 16px;
  }
}

.secret-list {
  max-width: 840px;
  margin: 0 auto 90px;
}
@media screen and (max-width: 768px) {
  .secret-list {
    margin-bottom: 56px;
  }
}
.secret-list__item {
  margin-bottom: 38px;
}
@media screen and (max-width: 768px) {
  .secret-list__item {
    margin-bottom: 18px;
  }
}
.secret-list__item:last-child {
  margin-bottom: 0;
}
.secret-list__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  background: white;
  -webkit-box-shadow: 4px 4px 14px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 14px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #242422;
  overflow: hidden;
}
@media screen and (max-width: 640px) {
  .secret-list__block {
    padding: 0;
    border-radius: 10px;
  }
}
.secret-list__block-img {
  width: 240px;
}
@media screen and (max-width: 640px) {
  .secret-list__block-img {
    width: 100%;
  }
}
.secret-list__block-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
}
.secret-list__block-ct {
  width: calc(100% - 240px);
  padding: 3px 19px;
  line-height: 1.5;
}
@media screen and (max-width: 640px) {
  .secret-list__block-ct {
    width: 100%;
    padding: 19px 11px 28px;
  }
}
.secret-list__block-ct-ttl {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 13px;
}
@media screen and (max-width: 640px) {
  .secret-list__block-ct-ttl {
    margin-bottom: 27px;
  }
}

.sec-different {
  padding: 100px 0 35px;
}
@media screen and (max-width: 768px) {
  .sec-different {
    padding: 77px 0 84px;
  }
  .sec-different .c-ttl__01 {
    padding: 0 0 30px;
    margin-bottom: 52px;
  }
}

.sec-partner {
  padding: 112px 0 198px;
}
@media screen and (max-width: 768px) {
  .sec-partner {
    padding: 77px 0 147px;
  }
}

.partner-logo {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: slider-move 20s linear infinite;
          animation: slider-move 20s linear infinite;
  position: absolute;
  left: 0;
  bottom: 58px;
}
@media screen and (max-width: 768px) {
  .partner-logo {
    bottom: 23px;
  }
}
.partner-logo li {
  padding: 30px 0;
  text-align: center;
  width: 290px;
}
@media screen and (max-width: 768px) {
  .partner-logo li {
    width: 170px;
  }
}
.partner-logo li img, .partner-logo li picture {
  display: block;
  height: 137px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .partner-logo li img, .partner-logo li picture {
    height: 74px;
  }
}

@-webkit-keyframes slider-move {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
  }
}

@keyframes slider-move {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
  }
}
/*# sourceMappingURL=map/oc-theme.css.map */