
:root {
	--oc-link-color: #0d6efd;
	--oc-primary-color: #233b68;

	--oc-btn-primary-color: #233b68;
	--oc-btn-alt-color: #233b68;

	--oc-blog-heading-mt: 1.9rem;
	--oc-blog-heading-mb: 1.625rem;
	--oc-blog-heading-pt: 1.625rem;
	--oc-blog-font-size: calc(1rem + .069vw);
	--oc-blog-heading1-fs: calc(1.6rem + .069vw);
	--oc-blog-heading2-fs: calc(1.5rem + .069vw);
	--oc-blog-heading3-fs: calc(1.35rem + .069vw);
	--oc-blog-line-height: 1.625rem;
	--oc-text-primary: #333;
}

body {
	font-size: 16px;
	line-height: 1.8;
	font-family: YuGothic, "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.text-primary-color{
	color: var(--oc-text-primary);
}
.clear-fix { clear: both; }

a {
	text-decoration: none;
	color: var(--oc-link-color);;
}
a:hover {
	text-decoration: none;
}

.bg-image {
	z-index: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.text-bg-top {
	z-index: 0;
	height: 200px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.text-bg-top .caption {
}
.text-bg-top .caption h1,
.text-bg-top .caption h2 {
	color: #fff;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}

.content-none {
	text-align: center;
	font-size: 20px;
	padding: 80px 10px;
}
.content-none .error-number {
	font-size: 70px;
}
.content-none .content-none-btn {
	margin: 20px auto;
	text-align: center;
}

/* OC Button Style */
.site-btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 375px;
	height: 73px;
	max-width: 90%;
	border: 1px solid #fff;
	color: #fff;
	background-color: transparent;
	transition: all 0.5s;
}
.site-btn {
	color: var(--oc-primary-color);
	border-color: var(--oc-primary-color);
}

/* END - OC Button Style */

/* OC Modal Style */
.modal-design {
	height: 80vh;
	overflow: scroll;
	margin: 15% 0 10% 0;
	border-radius: unset;
}
.modal-dialog{
	max-width: 800px;
	padding: 1rem;
}

@media (min-width: 576px){
	.modal-dialog {
		max-width: 500px;
		margin: 1.75rem auto;
	}
}

.close-btn {
	position: fixed;
	right: 0x;
	top: 25px;
}
.modal-side-margin {
	margin: 0;
}

.modal-body-design {
	padding: 0;
}

.round_btn {
	display: block;
	width: 45px;
	height: 45px;
	border: 2px solid #AA8400; /* 枠の調整 */
	border-radius: 50%;  /* 丸みの度合い */
	background: #fff; /* ボタンの背景色 */
}

.round_btn::before, .round_btn::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 3px; /* 棒の幅（太さ） */
	height: 22px; /* 棒の高さ */
	background: #AA8400; /* バツ印の色 */
}

.round_btn::before {
	transform: translate(-50%,-50%) rotate(45deg);
}

.round_btn::after {
	transform: translate(-50%,-50%) rotate(-45deg);
}

/* END - OC Modal Style */

